#itens{
    margin: 13%;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    border-radius: 7px;
    padding: 40px;
    margin-left: 250px;
    margin-right: 250px;
}
#esqueci{
    color: rgb(47, 47, 255);
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;    
    text-decoration: none;
}
#caixa{
    max-width: 350px;
    height: 45px;
    border-radius: 5px;
    border-width: 1px;
    min-width: 100px;
    
}
#imagemtop{
    width: 100px;   
}
#frases{
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;
}
#login{
    font-size: 30px;
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;
}
#create{
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;
    text-decoration: none;
    text-align: left;
}
#go{
    background-color: rgb(33, 33, 252);
    border-style: none;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    margin-left: 70px;
    max
}
#goinside{
    color: white;
}
#nope{
    text-align: left;
    font-family: "roboto","Noto Sans Myanmar UI",arial,sans-serif;
}
#sei{
    text-decoration: none;
}
#inicio{
    text-align: center;
}